{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": false,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "useTabs": true,
        "tabWidth": 4
      }
    }
  ]
}
