aside.sidenav {
	color: #cfdbd5;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 150px;
	height: 100vh;
	background-color: black;
	opacity: 0.9;
	overflow: hidden;
	transition: 0.5s;
}

aside.sidenav nav {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 50px;
	width: 150px;
	height: 100%;
}

aside.sidenav nav a {
	margin: 0 10px;
	padding: 20px 0;
	border-bottom: 0.25px solid #111;
}

aside.sidenav nav a:hover {
	color: #f5cb5c;
}

aside.sidenav nav a:last-child {
	border: none;
}

aside.sidenav .sidenav-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	color: #888;
}
