@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

body {
	margin: 0;
	font-family: Karla, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #242423;
	font-weight: normal;
	font-size: 1em;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a {
	text-decoration: none;
	color: inherit;
}

.yellow-text {
	color: #f5cb5c;
}
